/*estilos nosotros*/

/*main*/
main{
    img{
        width: 130%;
        height: auto;
       inline-size: auto;
       border-radius: 10px;
    }
}

/*estilos section*/ 

section{
    .card{
        background-color: rgb(94, 223, 255);
        margin: 1rem;
        padding: 1rem;
       
}
p{
    color:#140000;
}

}

/*estilos footer*/

footer{
    background-color: rgb(35, 218, 218);
    color: black;
    padding: 10px;
    text-align: center;
}